<!DOCTYPE html>
<html>
<head>
  <title>Michelle Col&oacute;n- Web Dev</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main_navigation" class="clearfix">
  <%= link_to "Michelle Colón", root_path, class: "name" %>
  <nav>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Blog", posts_path %>
    <a href="#">Contact</a>
  </nav>
</header>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy;2016 Michelle Col&oacute;n</p>
  <nav>
    <a href="http://github.com/michellecolon" target="_blank"><i class="fa fa-github"></i></a>
    <a href="http://twitter.com/michellewebdev" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://instagram.com/michellewebdev" target="_blank"><i class="fa fa-instagram"></i></a>
  </nav>
</footer>

</body>
</html>
